---
import Layout from "../layouts/Layout.astro";
import TopHome from "../components/Top-Home.astro";
import AboutMe from "../components/About-Me.astro";
import Experience from "../components/Experience.astro";  
---

<Layout title="Luis Téllez K" mainclass="home">
  <main>
	  <TopHome />
	  <AboutMe />
    <Experience />
  </main>
</Layout>
